
/* Element Selectors */
body {
  background-color: #333;
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}

/* . is for classes */
h2.primary-heading {
  font-weight: bolder;
  color: red;
  font-family: 'Roboto', sans-serif;
  
}

/* # is for IDs */

#welcome {
  background-color: #f4f4f4;
  font-size: 32px;
}

#welcome p span {
  font-weight: bold;
}

#about {
  background-color: honeydew;
  color: blue;
}

#about p span {
  font-style: italic;
  color: black;
}

/* Multiple Selectors with a comma*/

#welcome, #about {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
}

/* Nested Selector */
#welcome p {
  font-size: 22px;
}

/* Color Name */
h1 {
  color: red;
}

/* RGB */
h2 {
  color:rgb(0,255,0);
}

/* HEX */
h3 {
  color: #f4f4f4;
}
