@media only screen and (min-width: 34em) {

	header {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
	}

	.sitelogo {
		margin: 1em;
		width: 9em;
		justify-self: end;
		align-self: center;
	}

	.sitetitle {
		margin-left: 1em;
		justify-self: start;
	}

	header h1 {
		font-size: 2.625em;
	}

	header h1,
	header div {
		text-align: center;
		width: auto;
		margin: auto;
	}

	.sitemotto {
		font-size: large;

	}

	.clearfix {
		display: flex;
		justify-content: center;
	}

	.clearfix li {
		display: block;
		flex: 1 1 auto;
	}

	.clearfix a {
		text-align: center;
		font-size: 0.875em;
		padding: 1em;
	}

	.clearfix li:first-child {
		display: none;
	}
}