header {
    background-color: #696773;
    padding: 1em;
}

.sitelogo {
    display: block;
    width: 4em;
    margin: auto;
}

.sitemotto {
    font-family: 'David Libre', serif;
    color: #FED766;
}

main {
    font-family: 'Cardo', serif;
    max-width: 960px;
    padding: 1em;
    margin: 0.625em auto;
    justify-content: center;
}

header h1,
header div {
    color: #FED766;
    text-align: center;
    font-size: small;
    margin: auto;
}

h1 {
    font-size: 2.6em;
    line-height: 2em;
}

nav {
    background-color: #FED766;
    font-family: 'Cardo', serif;
    text-align: center;
}

.clearfix {
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
}

.clearfix li {
    display: none;
}

.clearfix li:first-child {
    display: block;
}

.responsive li {
    display: block;
}

.clearfix a {
    display: block;
    color: black;
    font-weight: 700;
    padding: 0.75rem;
    text-decoration: none;
    text-align: left;
}

.clearfix a:hover {
    color: black;
    background-color: #009FB7;
}

.clearfix .active {
    border: 0.125em solid black;
    border-radius: 0.125em;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

.contentbox {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #bbbbbb;
    border: 0.0625em dashed black;
    margin: 0.625em auto;
    padding: 0.75em;
    color: #272727;
    font-style: italic;
    width: auto;
}

footer {
    align-items: center;
    text-align: center;
    background-color: #272727;
    color: #FED766;
    padding: 1em;
}