@media screen and (min-width: 800px) {
    .nav-toggle-label {
      display: none;
    }
  
    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
  
    .logo {
      grid-column: 2 / 3;
    }
  
    nav {
      all: unset; /* this causes issues with Edge, since it's unsupported */
  
      /* the following lines are not from my video, but add Edge support */
      position: relative;
      text-align: left;
      transition: none;
      transform: scale(1, 1);
      background: none;
      top: initial;
      left: initial;
      /* end Edge support stuff */
  
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  
    nav ul {
      display: flex;
    }
  
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
  
    nav a {
      opacity: 1;
      position: relative;
    }
  
    nav a::before {
      content: "";
      display: block;
      height: 5px;
      background: black;
      position: absolute;
      top: -0.75em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transform-origin: left;
      transition: transform ease-in-out 250ms;
    }
  
    nav a:hover::before {
      transform: scale(1, 1);
    }
  }