@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");

:root {
  --background: rgb(251, 199, 115);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, main {
  margin: 0;
  background: #f4f4f4;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.content { 
  height: 50vh;
  background-image: url(//unsplash.it/1000/1000);
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

main div h2 {
    color: #f4f4f4;
}

/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.logo {
  /* margin: 0; */
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

p img {
    float: right;
    margin: 10px;
    border: 1px solid #000000;
    padding: 1.5px;
}



/* Footer Styling*/

footer {
    background-color: #0a1612;
    padding: 0.125rem;
    font-size: 0.875rem;
    color: white;
    text-align: center;
    border-radius: 0.25rem;
}

footer p {
    margin: .5rem 0 .5rem 0;
}

footer a {
    color: white;
}

footer span {
    display: inline;
}

footer div {
    color: yellow;
    padding-bottom: .25rem;
}

