@media only screen and (min-width: 34em) {

	header {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
	}

	.sitelogo {
		margin: 1em;
		width: 9em;
		justify-self: end;
		align-self: center;
	}

	.sitetitle {
		margin-left: 1em;
		justify-self: start;
	}

	header h1 {
		font-size: 2.625em;
	}

	header h1,
	header div {
		text-align: center;
		width: auto;
		margin: auto;
	}

	.sitemotto {
		font-size: large;

	}

	.clearfix {
		display: flex;
		justify-content: center;
	}

	.clearfix li {
		display: block;
		flex: 1 1 auto;
	}

	.clearfix a {
		text-align: center;
		font-size: 0.875em;
		padding: 1em;
	}

	.clearfix li:first-child {
		display: none;
	}

	.weathersummary {
		position: absolute;
		top: 30px;
		left: 40px;
		grid-template-columns: 3fr 2fr;
		border-radius: 0.3125em;
	}

	.sumnames,
	.sumvalues,
	.sumtitle {
		filter: drop-shadow(1px 1px 1px white);
	}

	.forecastdiv {
		font-family: 'Cardo', serif;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 1.5%;
		padding: 0;
		width: 80%;
		margin: 2em auto;
		text-align: center;
	}

	.weekforecast {
		grid-column: 1/6;
		text-align: center;
		margin: 1em 0 .625em 0;
	}

	.forecastdiv img {
		display: block;
		margin: auto;
		width: 80%;
	}

	.forecastdiv h4 {
		color: black;
		background-color: #FED766;
		margin: 0;
		padding: .5em;

	}

	.forecastdiv section {
		color: #FED766;
		background-color: #696773;
		padding: .20em 0 .75em 0;
		font-weight: 700;
	}

	.forecastdiv div {
		box-shadow: 0 0 0.5em black;
		border-radius: 0.3125em;
		overflow: hidden;
	}

	.story1img {
		float: right;
		width: 30%;
		margin: 0 0 .5em 1em;
		border-radius: 0.3125em;
	}

	.contactdiv {
		display: flex;
		justify-content: space-between;
	}

	.contactmap {
		display: block;
		width: 38%;
		height: 38%;
		margin-right: 1.25em;
	}

	.contactinfo {
		margin: auto;
		text-align: left;
		font-weight: initial;
	}
}